@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: "Minecraft Regular";
  src: url("Assets/MinecraftRegular.otf");
}
@font-face {
  font-family: "Minecraft Bold";
  src: url("Assets/MinecraftBold.otf");
}

h1 {
	font-family: "Minecraft Bold", serif;
	text-align: center;
}

p {
	font-family: "Minecraft Regular", serif;
	padding: 14px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Minecraft Regular", serif;
}

li {
  	float: left;
	font-family: "Minecraft Regular", serif;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	color: #B7865C;
}

.active {
	color: #56952C;
}

img {
	display: block;
	margin-left: auto;
 	margin-right: auto;
	width: 95vw;
}