@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: "Minecraft Regular";
  src: url("Assets/MinecraftRegular.otf");
}
@font-face {
  font-family: "Minecraft Bold";
  src: url("Assets/MinecraftBold.otf");
}

h1 {
<<<<<<< HEAD
	font-family: "Minecraft Bold";
	text-align: center;
}

p {
	font-family: "Minecraft Regular";
=======
    font-family: "Minecraft Bold", serif;
}

p {
    font-family: "Minecraft Regular", serif;
>>>>>>> Wonders-of-the-World/main
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 95vw;
}